main {
    width: 450px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.urlBar {
    width: 450px;
    border: 1px solid black;
    background-color: white;
}

#goBefore {
    background: url(/icons/go_before.png) 50% no-repeat;
    float: left;
    width: 37px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

#goBefore:active,
#createFile:active {
    background: lightgray;
}

#goBefore:hover,
#createFile:hover,
#uploadFile:hover {
    background-color: lightgray;
}

#currentUrl {
    width: 300px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    float: left;
}

#createFile {
    background: url(/icons/add_icon.png) 50% no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    border: none;
    outline: none;
    cursor: cell;
}

#uploadFile {
    width: 30px;
    height: 30px;
    float: right;
    border: none;
    background: url(/icons/upload_icon.png) 50% no-repeat;
    cursor: pointer;
}

#container {
    border: 1px solid black;
    float: left;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: white;
    width: 450px;
    height: 500px;
    text-align: left;
    margin-top: 10px;	
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.element {
    border: 1px solid gray;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    height: 22px;
}

.element:hover {
    background-color: lightgray;
}

.directory {
    color: #3d3d46;
}

.file {
    color: #d6900f;
}

.counter {
    display: block;
    color: black;
    border-right: 2px solid black;
    padding: 10px 2px;
    padding-bottom: 11px;
    background: #e1f1f0;
    margin-right: 10px;
    position: relative;
    top: -10px;
    width: 30px;
    text-align: center;
    float: left;
    border-bottom: 2px solid black;
}

.removeTrigger,
.downloadTrigger {
    float: right;
    position: relative;
    top: -10px;
    width: 40px;
    height: 42px;
}

.removeTrigger:hover .removeButton,
.downloadTrigger:hover .downloadButton {
    display: block;
}

.removeButton,
.downloadButton {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.downloadButton {
    background: url(/icons/download_icon.png) 50% no-repeat;
}

.removeButton {
    background: url(/icons/delete_icon.png) 50% no-repeat;
}